@model MemberDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1> Members Details</h1>

<div class="card ">
    
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PersonNr)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PersonNr)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FristName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FristName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Vehicles)</dt>
        <dd class="col-sm-8">
            @foreach (var vehicle in Model.Vehicles)
            {

            <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@vehicle.Id">
                @vehicle.RegNumber
            </a><br />
                 
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
