@model Garage3.Models.Vehicles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicles</h4>
    <hr />
    <div class=" col-md-6 card">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.RegNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RegNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TimeOfParking)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TimeOfParking)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NumberOfWheels)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VehicleTypes)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.VehicleTypes.TypeOfVehicle)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Members)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Members.FullName)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to Garage</a>
</div>
