@model IEnumerable<DetailsViewModel>
@{
    ViewData["Title"] = "Garage 3";
}

<h1>Parked Vehicles</h1>
<form class="text-light bg-info border rounded-lg" asp-action="Search">
    <div class="input-group m-auto">
        <input type="text" name="VehicleType" class="form-control" placeholder="Search on Vehicle Type." />
        <div class="input-group-append">
            <input type="text" name="RegNumber" class="form-control" placeholder="Search on Reg No." />
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary "><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<p>
    <a asp-action="Park">Park Vehicle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Register Number", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
           
            <th>
                @Html.ActionLink("Time Of Parking", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            
            @*<th>
                @Html.DisplayNameFor(model => model.RegNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfParking)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.VehicleTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfParking)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTypes.TypeOfVehicle)
                </td>
                <td>
                    <a asp-controller="Members" asp-action="Details" asp-route-id="@item.Members.Id">
                        @Html.DisplayFor(modelItem => item.Members.FullName)
                        </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="UnPark" asp-route-id="@item.Id">UnPark</a>
                </td>
            </tr>
        }
    </tbody>
</table>
