@model Garage3.Models.Vehicles

@{
    ViewData["Title"] = "UnPark";
}

<h1>UnPark</h1>

<h3>Are you sure you want to UnPark this?</h3>
<div>   
    <div class=" col-md-6 profile">

        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.RegNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RegNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TimeOfParking)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TimeOfParking)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NumberOfWheels)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.VehicleTypes)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.VehicleTypes.TypeOfVehicle)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Members)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Members.FullName)
            </dd>
        </dl>
    </div>
    <form asp-action="UnPark">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Un Park" class="btn btn-danger" asp-action="Receipt" asp-for="Id"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
